/* bg */
.exercise-box {
  background-color: var(--background-nude);
}

/* menu-box */

.menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--section-padding);
}

/* burguer menu */

#menu-icon {
  font-size: 60px;
}

/* open menu styles*/

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 260px;
  background-color: var(--secondary);
  border-radius: var(--soft-border);
  display: none;
}

#menu li {
  text-align: center;
  padding: 20px 0;
  font-size: var(--h3-size);
  font-weight: 500;
}

#menu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#menu li:hover {
  background-color: var(--background-nude);
}

#menu li:first-child:hover {
  border-top-left-radius: var(--soft-border);
  border-top-right-radius: var(--soft-border);
}

#menu li:last-child:hover {
  border-bottom-left-radius: var(--soft-border);
  border-bottom-right-radius: var(--soft-border);
}
